body {
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-item {
  margin: 10px;
}
.react-calendar__tile.scheduled-date {
  background-color: rgba(75, 192, 192, 0.2);
  border-radius: 3px;
}
.scheduled-date {
  background-color: #ffc107;
  color: white;
}
